0-originalImage.jpg
1-labimg.jpg
2-meanshift.jpg
3-segcolor.jpg
4-subtractedImage.jpg
detectedBots.jpg
pathOnBinary.jpg
robotInCorner1.jpg
robotInCorner2.jpg
robotInCorner3.jpg
CMakeFiles/3.6.2
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.cxx
CMakeFiles/Makefile2
CMakeFiles/Makefile.cmake
CMakeFiles/PathFindingTest.dir
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
cmake_install.cmake
CMakeCache.txt
PathFindingTest
mostRecentPath.txt
path.txt
savedPaths.txt
